aiohttp
BeautifulSoup4
cloudscraper
flask
ldap3
phonenumbers
psycopg2
requests
selenium
tqdm
urllib3
nltk
openpyxl
paramiko
python-dotenv
flask-socketio
selenium
unidecode
phonenumbers
selenium_stealth
validators
psutil