.spinner {
    border: 8px solid #546788; /* Cor clara do spinner */
    border-top: 8px solid #23395a; /* Cor escura do spinner */
    border-radius: 50%; /* Arredonda as bordas do spinner */
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
    box-shadow: 0 0px 12px rgba(0, 0, 0, 0.8);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Posição do spinner */
#loading-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.custom-body {
    background-color: #0a192f; /* Dark Blue Background */
    color: #ccd6f6; /* Light Blue Text */
}
.custom-container {
    background-color: #112240; /* Darker Blue Background */
    border-radius: 8px;
    padding: 20px;
    max-width: 1000px;
    margin: auto;
}
.custom-button {
    background-color: #64ffda; /* Light Blue Button */
    color: #0a192f;
    border: none;
    padding: 10px 20px;
    border-radius: 1rem;
    cursor: pointer;
}
.custom-button:hover {
    background-color: #52cbb1;
}
.dadosEmpresa{
background-color: #15294b;
padding: 20px;
}

.info-box {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #0a192f;
    color: #f0f0f0;
    border: 1px solid #112240;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 1rem;
    width: 100%;
    z-index: 10;
}
.info-box.active {
    display: block;
}
.linha {
    border: none;
    height: 1px;
    background-color: #3b4d80;
    margin: 15px 0;
}
.socios{
    margin-top: 10px;
    margin-bottom: -10px;
}

.ul_socios{
    color: #a5b9ee;
}

.detalhes-empresa{
    padding-top: 19px;
}

.form-container {
    width: 100%;
}

.input-container {
    display: flex;
    align-items: center; /* Alinha o botão e o input verticalmente */
    width: 100%;
    position: relative; /* Necessário para o espaçamento do botão */
}

.pesquisa {
    flex: 1; /* Faz o input ocupar todo o espaço disponível */
    padding-right: 50px; /* Espaço para o botão */
    box-sizing: border-box; /* Inclui o padding na largura total */
    color: #0a192f;
    font-size: 22pt;
    font-family: "Arial Rounded MT Bold", Arial, sans-serif;
    text-align: center;
    background-color: #e9eeff;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: .3s;
}

.pesquisa:hover{
    background-color: #e9eeff;
}

.pesquisa:active{
    outline: none;
    background-color: #e9eeff;
}

.buscar {
    position: relative; /* Mantém o botão no fluxo do layout */
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -50px; /* Move o botão para a esquerda para sobrepor o input */
    padding: 0; /* Remove qualquer padding extra */
}

.buscar img {
    width: 60px; /* Ajuste conforme necessário */
    height: 60px; /* Ajuste conforme necessário */
    margin-left: -30px;
}

.result-title{
    font-size: 24pt;
    padding-bottom: 30px;
}

.global-send-button{
    margin-left: 20px;
}

.inline-icon {
    width: 24px;  /* Ajuste conforme necessário */
    height: 24px;
    vertical-align: middle;
}

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Espaçamento entre os elementos */
    margin-top: 20px;
}

.pagination-link {
    display: flex;
    align-items: center;
    gap: 8px; /* Espaçamento entre o texto e o ícone */
    text-decoration: none;
    color: #fff; /* Ou a cor desejada */
}

.pagination-link[disabled] {
    pointer-events: none;
    opacity: 0.5;
}

.inline-icon {
    width: 24px;
    height: 24px;
}

.pagination-container span {
    font-size: 1.2em;
    color: #fff; /* Altere conforme o seu tema */
}

.checkmark-btn {
    background-color: #64ffda; /* Light Blue Button */
    color: #0a192f;
    border: none;
    padding: 10px 20px;
    border-radius: 2.1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

.checkmark-btn.loading {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    justify-content: center;
    padding: 0;
    text-indent: -9999px; /* Hide the text */
}

.checkmark-btn.loading img {
    display: none;
}

.checkmark-btn.loading::before {
    content: '';
    background-image: url('/static/img/checkmark.svg'); /* Caminho manual */
    background-size: cover;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
