<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Não Encontrada</title>
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/logo_ico.png') }}">
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        body {
            background-color: #0A192F;
            color: #ccd6f6;
        }
    </style>
</head>

<body class="flex items-center justify-center min-h-screen">
    <div class="text-center">
        <img src="../static/img/triste.png" alt="Emoji triste" class="mx-auto w-24 h-24 mb-4">

        <p class="text-2xl font-semibold mb-2">Esta página não existe...</p>
        <p class="text-lg mb-6">Voltar para a <strong>Página Principal</strong></p>

        <a href="/" class="px-6 py-2 bg-blue-600 hover:bg-blue-700 rounded-lg font-semibold transition">
            Voltar
        </a>
    </div>
</body>

</html>
