<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Em  Manutenção</title>
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/logo_ico.png') }}">
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        body {
            background-color: #0A192F;
            color: #ccd6f6;
        }
        .txt{
            font-size: 40pt;
        }
    </style>
</head>

<body class="flex items-center justify-center min-h-screen">
    <div class="text-center">
        <img src="../static/img/engine.webp" alt="Emoji triste" class="mx-auto mb-4">
        <p class="txt font-semibold mb-2">Em Manutenção...</p>

    </div>
</body>

</html>
